.container {
  padding: 0 2rem;
  min-height: 100vh;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulary  {
  display: block;
}

.formulary label {
  font-size: 0.9rem;
  display: block;
  margin: 20px 0;
  width: 100%;
}

.formulary label input{
  height: 2em;
  background-color: antiquewhite;
  display: block;
  width: 100%;
  border: none;
  padding: 8px;
}

.formulary button {
  height: 3em;
  background-color: darkorange;
  width: 100%;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
}

.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.452);
}

.title,
.description {
  text-align: center;
  color: coral;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
