.container {
  padding: 0 2rem;
  min-height: 100vh;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulary  {
  display: block;
}

.formulary label {
  display: block;
  margin: 20px 0;
  width: 100%;
}

.formulary label input{
  display: block;
  width: 100%;
}

.formulary button {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
